SUPABASE_URL=https://kcntfdnoqrtxlhfzhjha.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtjbnRmZG5vcXJ0eGxoZnpoamhhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ1NDc3MDIsImV4cCI6MjA5MDEyMzcwMn0.q9GMci7heRq3wUmXwJhWMk1q6Mr5bxlyabpuCw7eUBk
